 @{
}
<!-- ======= Dünya  ======= -->
<div id="Dunya" class="about-area area-padding col-12">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>Dünya</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="row"> <vc:dunya /></div>
            </div>
            <hr class="dikey"/>
            <div class="col-3">
                <!--Hava Durumu-->
                <div class="col-12">
                    <div id="ww_5bdc14715c5dd" v='1.3' loc='id' a='{"t":"horizontal","lang":"tr","sl_lpl":1,"ids":["wl5910"],"font":"Arial","sl_ics":"one","sl_sot":"celsius","cl_bkg":"image","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722"}'>Weather for the Following Location: <a href="https://2ua.org/tur/ankara_province/map/" id="ww_5bdc14715c5dd_u" target="_blank">Ankara Province map, Turkey</a></div>
                    <script async src="https://app1.weatherwidget.org/js/?id=ww_5bdc14715c5dd"></script>
                    <div id="ww_b3b811ab89174" v='1.3' loc='id' a='{"t":"responsive","lang":"tr","sl_lpl":1,"ids":["wl5910"],"font":"Arial","sl_ics":"one","sl_sot":"celsius","cl_bkg":"image","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722","sl_tof":"7","el_nme":3,"el_cwi":3,"el_ctm":3}'>Weather for the Following Location: <a href="https://2ua.org/tur/ankara_province/map/" id="ww_b3b811ab89174_u" target="_blank">Ankara Province map, Turkey</a></div>
                    <script async src="https://app1.weatherwidget.org/js/?id=ww_b3b811ab89174"></script>
                </div>
                <!--End Hava Durumu-->
            </div>
        </div>
    </div>
</div>
<!-- End Dünya -->