@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- ======= Ekonomi  ======= -->
<div class="row">
    <div id="Ekonomi" class="about-area area-padding ">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>Ekonomi</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <div class="well-middle">
                            <div class="single-well">
                               <vc:ekonomi/> 
                            </div>
                        </div>
                    </div>
                    <!-- End col-->
                    <div class="col-4">
                    <!--Döviz-->
                    <div id="kurlar" class="col-12 "></div>
                    <script async src="https://dovizmix.com/dovizmix/js/dovizwidget.min.js" type="text/javascript" charset="utf-8"></script>
                    <!--end döviz-->
                    </div>
                </div>
            </div> 
    </div>
</div>
<!-- End Ekonomi  -->