@{
}
<!-- ======= Magazin  ======= -->
<div class="row">
    <!-- ======= Burçlar ======= -->
    <div id="testimonials" class="testimonials col-3">
        <div class="container">

            <div class="testimonials-slider swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="https://tr.web.img3.acsta.net/c_310_420/pictures/22/12/12/07/34/4691827.jpg" class="testimonial-img" alt="">
                            <h3>
                                Avatar: Suyun Yolu
                            </h3>
                            <h4>
                                16 Aralık 2022
                            </h4>
                            <p>
                                Avatar serisinin 2009 yılında küresel bir fenomen haline gelen devam halkası; bu defa James Cameron'un yaratmış olduğu öykü evreninin hem kökenlerine iniyor hem de sınırlarını genişletmeyi hedefliyor. Avatar'da yaşanan olaylardan birkaç yıl sonra Jake ve Neytiri Pandora'da kendi ailelerini kurmuştur. Ancak onlar evlerini terk etmek zorunda kalır. Bu yüzden Jake ve Neytiri, suyun yüzeri ve altı dahil olmak üzere Pandora'nın dışındaki yerleri keşfetmeye başlar.
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="https://tr.web.img3.acsta.net/c_310_420/pictures/22/11/01/09/25/3344916.jpg" class="testimonial-img" alt="">
                            <h3>
                                M3GAN
                            </h3>
                            <h4>
                                13 Ocak 2023
                            </h4>
                            <p>
                                M3GAN
                                "M3GAN" dahi bir oyuncak şirketinde çalışan robotik mühendisi olan bir adamın hikayesini konu ediyor. Mühendis, yakın zamanda yetim kalmış olan yeğenine destek olması ve arkadaşlık etmesi için bir robot tasarlar. Ancak küçük kız ile duygusal olarak bağ kurmaya programlanmış insansı robot, programlaması fazla iyi işlediği için yeni arkadaşı konusunda aşırı korumacı bir hale gelir. Bu korkutucu bağlanma durumu pek çok tehlikeyi de beraberinde getirir.

                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="https://tr.web.img4.acsta.net/c_310_420/pictures/22/12/28/10/48/0780613.jpg" class="testimonial-img" alt="">
                            <h3>Tamiri Mümkün</h3>
                            <h4>
                                13 Ocak 2023
                            </h4>
                            <p>
                                Tamiri Mümkün, ünlü rock grubu Mor ve Ötesi'nin 28 Mayıs 2022'de İnönü Stadı'nde verdiği ve 35 bin kişinin katıldığı utulumaz konseri beyaz perdeye aktarıyor. Yapım, tarihi anların yaşandığı konsere gidemeyen izleyicilerin o anları yaşamasını sağlarken, konsere gidenler unutulmaz anları bir kez daha yaşayabilecek.
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="https://tr.web.img4.acsta.net/c_310_420/pictures/22/12/05/07/37/1449215.jpg" class="testimonial-img" alt="">
                            <h3>
                                Servet Operasyonu
                            </h3>
                            <h4>13 Ocak 2023</h4>
                            <p>
                                Servet Operasyonu, dünya için büyük tehdit oluşturan yeni bir ölümcül silah teknolojisinin ticarileştirilmesini önlemek için zorlu bir maceraya atılan bir ajanın hikayesini konu ediyor. M16 ajanı Orson Fortune, dünya için büyük tehdit oluşturan yeni bir ölümcül silah teknolojisinin ticarileştirilmesini önlemek için uluslararası bir istihbarat ittifakı olan "Five Eyes" tarafından işe alınır. Bu süreçte CIA teknoloji uzmanı Sarah Fidel ile birlikte çalışmak zorunda bırakılan Fortune, zengin bir silah tüccarının izini sürmeye çalışırken dünyayı dolaşmak zorunda kalır.
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="https://tr.web.img2.acsta.net/c_310_420/pictures/22/12/12/07/20/0286265.jpg" class="testimonial-img" alt="">
                            <h3>
                                Korsaj
                            </h3>
                            <h4>
                                20 Ocak 2023
                            </h4>
                            <p>
                                Korsaj, 40. yaş gününü dönüm noktası olarak alarak zincirlerini kırmaya niyetlenen Bavyera Düşesi Elisabeth’in hikayesini konu ediyor. Güzelliği ile tanınan Bavyera Düşesi Elisabeth, 40. yaş gününü kutlamaya hazırlanır. Söylentilere göre Sisi olarak da bilinen Avusturya İmparatoriçesi Elisabeth’in bel ölçüsü, yıllar boyu yalnızca 45 cm olarak kalmıştır. Ancak 40 yaşına gelmesiyle artık resmi olarak yaşlı kabul edilmektedir. Ancak Elisabeth, halk karşısında imajını korumak ister. Kraliçe 40. yaş gününü dönüm noktası olarak kabul eder ve zincirlerini kırmaya karar verir.
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="https://tr.web.img3.acsta.net/c_310_420/pictures/22/12/15/21/07/1814165.jpg" class="testimonial-img" alt="">
                            <h3>
                                Sevda Mecburi İstikamet
                            </h3>
                            <h4>
                                6 ocak 2023
                            </h4>
                            <p>
                                Sevda Mecburi İstikamet
                                Sevda Mecburi İstikamet, kızıyla yarım kalmış hikayesini tamamlamak için bir yolculuğa çıkan ünlü bir oyuncunun hikayesini konu ediyor. Yeşilçam’ın başarılı oyuncularından olan Selim, bir film çekimi sırasında tanıştığı Sevda’ya aşık olur. İkilinin ilişkisi çok geçmeden evlilikle sonuçlanır ve çiftin Suna adında bir kızı olur. Hayatlarında her şey yolunda giderken, Suna’ya 4 yaşına geldiğinde otizm teşhişi konur. Eşi ve kızını korumak ve kariyerine zarar gelmesini önlemek için çaresiz kalan Selim, Sevda ve Suna’yı Çanakkale’ye ailesinin yanına gönderir. Kendisini tamamen işine kaptıran Selim’in hayatı, Sevda’nın hastalık haberini alınca değişir. Sevda’nın ölümü ile Selim, her şeyi bırakıp artık bir yetişkin olan kızı Suna ile yarım kalan hikayesini tamamlamak için çabalar.
                            </p>
                        </div>
                    </div><!-- End testimonial item -->
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="https://tr.web.img4.acsta.net/c_310_420/pictures/22/12/28/12/19/3569756.png" class="testimonial-img" alt="">
                            <h3>
                                Kutsal Damacana 4
                            </h3>
                            <h4>
                                20 Ocak 2023
                            </h4>
                            <p>
                                Kutsal Damacana 4, yanlışlıkla papaz olan Fikret'in hikayesini konu ediyor. Fikret, yanlışlıkla girdiği papazlık yolunda kendisini tahmin edemeyeceği bir konumda bulur. Beklenmedik bir şekilde Vatikan'a kadar yükselen Fikret, artık yurduna geri dönmeye karar verir.
                            </p>
                        </div>
                    </div><!-- End testimonial item -->




                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="https://tr.web.img4.acsta.net/c_310_420/pictures/22/12/18/20/30/0912334.jpg" class="testimonial-img" alt="">
                            <h3>
                                İllegal Hayatlar
                            </h3>
                            <h4>
                                13 Ocak 2023
                            </h4>
                            <p>
                                İllegal Hayatlar, kaçak kumarhane işletmeye çalışan bir adamın hikayesini konu ediyor. Mahsun, kaçak bir kumarhane işletmektedir. Bu nedenle de polis baskınlarıyla baş etmekte bir hayli zorlanır. Kumarhaneyi işletmeye devam etmek isteyen Mahsun, bu amaçla sahte bir siyasi parti kurmaya karar verir. Böylece gizli olarak kumarhane işletmeye devam edebilecektir. Ancak bu fikir, hem de kendisini hem de arkadaşlarını türlü maceraların içine sürükler.
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="https://tr.web.img4.acsta.net/c_310_420/pictures/22/11/17/08/20/0478713.jpg" class="testimonial-img" alt="">
                            <h3>
                                Çakallarla Dans 6
                            </h3>
                            <h4>
                                2 Aralık 2022
                            </h4>
                            <p>
                                Çakallarla Dans serisinin altıncı devam halkası olan filmde ekip kendilerini bu defa yurt dışında türlü maceraların içinde buluyor.
                            </p>
                        </div>
                    </div><!-- End testimonial item -->



                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </div><!-- End burçlar -->

    <div id="Magazin" class="about-area area-padding col-9">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Magazin</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <vc:magazin />
            </div>
        </div>
    </div>
</div>
<!-- End magazin -->
