@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- ======= Spor ======= -->
<div id="Spor" class="about-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>Spor</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <vc:spor/>
        </div>
    </div>
</div>
<!-- End Spor -->
